{% extends "index.html" %}
<title>
    {% block titulo %}
    Lista de Conjuntos
    {% endblock %}
</title>
</head>
{% block body %}
<body class="container">
    <p></p>
    <a href="{{ url_for('homepage') }} "class="botao-login">Início</a>
    <div>
        <h3>Detalhes do conjunto: {{ codConjunto }} - {{ nomeConjunto }}</h3>
        <div>
            <table class="table table-dark table-striped table-hover" border="5">
                <tr>
                    <td>Código do Conjunto no SIGI</td><td><input class="bloqueado" value="{{ conjunto[0][0] }}" disabled></td>
                    <td>Código do Conjunto nas Planilhas</td><td><input class="bloqueado" value="{{ conjunto[0][1] }}" disabled></td>
                </tr>
                <tr>
                    <td>Nome do Conjunto no SIGI</td><td><input class="bloqueado" value="{{ conjunto[0][3] }}" disabled></td>
                    <td>Nome do Conjunto nas Planilhas</td><td><input class="bloqueado" value="{{ conjunto[0][2] }}" disabled></td>
                </tr>
                <tr>
                    <td>Bairro do Conjunto no SIGI</td><td><input class="bloqueado" value="{{ conjunto[0][5] }}" disabled></td>
                    <td>Bairro do Conjunto nas Planilhas</td><td><input class="bloqueado" value="{{ conjunto[0][4] }}" disabled></td>
                </tr>
                <tr>
                    <td>Quantidade de Unidades no SIGI</td><td><input class="bloqueado" value="{{ conjunto[0][6] }}" disabled></td>
                    <td>Quantidade de Unidades nas Planilhas</td><td><input class="bloqueado" value="{{ conjunto[0][7] }}" disabled></td>
                </tr>
                <tr>
                    <td>Legalizado (SIGI)</td><td><input class="bloqueado" value="{{ 'SIM' if conjunto[0][10]=='True' else 'NÃO' }}" disabled></td>
                    <td>Legalizado (Planilha)</td><td><input class="bloqueado" value="{{ conjunto[0][11] }}" disabled></td>
                </tr>
                <tr>
                    <td>Data de Comercialização no SIGI</td><td><input class="bloqueado" value="{{ conjunto[0][12] }}" disabled></td>
                    <td>Data de Comercialização nas Planilhas</td><td><input class="bloqueado" value="{{ conjunto[0][13] }}" disabled></td>
                </tr>
                <tr>
                    <td>Município no SIGI</td><td><input class="bloqueado" value="{{ conjunto[0][14] }}" disabled></td>
                    <td>Município nas Planilhas</td><td><input class="bloqueado" value="{{ conjunto[0][15] }}" disabled></td>
                </tr>
                <tr>
                    <td>Recursos</td><td><input class="bloqueado" value="{{ conjunto[0][16] }}" disabled></td>
                    <td>Hipoteca</td><td><input class="bloqueado" value="{{ conjunto[0][17] }}" disabled></td>
                </tr>
                <tr>
                    <td>Contrato</td><td><input class="bloqueado" value="{{ conjunto[0][18] }}" disabled></td>
                    <td>Prazo</td><td><input class="bloqueado" value="{{ conjunto[0][19] }}" disabled></td>
                </tr>
                <tr>
                    <td><label>Programa</label></td><td><input class="bloqueado" value="{{ conjunto[0][20] }}" disabled></td>
                </tr>
            </table>
        </div>
    </div>
</body>
{% endblock %}
</html>