<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dossiê</title>
</head>
<body>
<p></p>
<embed type="application/pdf" src="http://10.3.6.106/busca/visualiza_dossie.php?file={{ dossie }}" width="100%" height="1800"/>
<!--<embed type="application/pdf" src="http://10.3.6.106/busca/visualiza_ficha.php?file=" {{ ficha }} width="800" height="600" />-->
<!--<embed type="html" src="chrome-extension://efaidnbmnnnibpcajpcglclefindmkaj/http://10.3.6.106/busca/visualiza_ficha.php?file=05800100.pdf" width="800" height="600" />-->
</body>
</html>