/cadastros/static/img/cehab_azul.png
/cadastros/static/img/cehab_azul - Copia.png
/cadastros/static/img/cehab_preto.png
/conectar.py
/cadastros/static/img/excel.png
/cadastros/static/img/governo.png
/cadastros/static/modelo/fundo/fundo-login.png
/cadastros/geckodriver.log
/cadastros/static/img/GovRj+Rio2030_Horizontal_1-Cor.png
/cadastros/static/img/GovRj+Rio2030_Horizontal_Cor.png
/cadastros/static/img/GovRj+Rio2030_Vertical_1-Cor.png
/cadastros/static/img/GovRj+Rio2030_Vertical_Cor.png
/cadastros/static/img/logo_iptu.png
/cadastros/static/img/logo_prefeitura.png
/cadastros/static/img/logoazul 2023-02-06 at 14.57.20.jpeg
/cadastros/static/img/logobranco 2023-02-06 at 14.57.20 (1).jpeg
/cadastros/static/modelo/img/pinterest-1.jpg
/cadastros/static/modelo/img/pinterest-2.jpg
/cadastros/static/modelo/img/pinterest-3.jpg
/cadastros/static/modelo/img/pinterest-4.jpg
/cadastros/static/modelo/img/pinterest-5.jpg
/cadastros/static/modelo/img/pinterest-6.jpg
/cadastros/static/modelo/img/pinterest-7.jpg
/cadastros/static/modelo/img/pinterest-8.jpg
/cadastros/static/modelo/img/pinterest-11.jpg
/cadastros/static/modelo/img/pinterest-12.jpg
/cadastros/static/modelo/img/pinterest-13.jpg
/cadastros/static/modelo/img/pinterest-14.jpg
/cadastros/static/modelo/img/pinterest-15.jpg
/cadastros/static/modelo/img/pinterest-16.jpg
/cadastros/static/modelo/img/pinterest-17.jpg
/cadastros/static/modelo/img/pinterest-18.jpg
/cadastros/static/modelo/img/pinterest-19.jpg
/cadastros/static/modelo/img/pinterest-21.jpg
/pip_requirements.txt
/cadastros/teste.py
/instance/trataBanco.py
/cadastros/criaBanco.py
/cadastros/static/modelo/homepage.html
/cadastros/static/modelo/login.html
/cadastros/static/modelo/perfil.html
